# Imports

In [4]:
import pandas as pd
from tqdm.notebook import tqdm
import sqlite3

# Create SQLite DBs from Hopteam and NPPES

## Explore NPPES CSVs

In [8]:
end = pd.read_csv('../data/NPPES/endpoint.csv', chunksize = 1000)
npi = pd.read_csv('../data/NPPES/npidata.csv', chunksize = 1000)
other = pd.read_csv('../data/NPPES/othername.csv', chunksize = 1000)
pl = pd.read_csv('../data/NPPES/pl.csv', chunksize = 1000)

In [9]:
for df in [end, npi, other, pl]:
    next(df)

## endpoint

In [13]:
next(end).head()

,NPI,Endpoint Type,Endpoint Type Description,Endpoint,Affiliation,Endpoint Description,Affiliation Legal Business Name,Use Code,Use Description,Other Use Description,Content Type,Content Description,Other Content Description,Affiliation Address Line One,Affiliation Address Line Two,Affiliation Address City,Affiliation Address State,Affiliation Address Country,Affiliation Address Postal Code
2000,1376548982,DIRECT,Direct Messaging Address,jmeans6748@phsdirect.pinnaclehealth.org,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2201 Brunswick Dr Ste 1200,NaN,Hanover,PA,US,173318350.0
2001,1902801517,DIRECT,Direct Messaging Address,jeffrey.norris.1@3326.direct.athenahealth.com,N,Athena EMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4300 W Main St Ste 405,NaN,Dothan,AL,US,363051086.0
2002,1720083330,CONNECT,CONNECT URL,mcarim@cer.ecldirect.net,N,Direct Messaging,NaN,HIE,Health Information Exchange (HIE),NaN,CSV,CSV,NaN,2630 Westview Dr,NaN,Wyomissing,PA,US,196101130.0
2003,1720083330,CONNECT,CONNECT URL,mcarim@cer.ecldirect.net,N,Direct Messaging,NaN,OTHER,Other,CMS esMD eMDR,NaN,NaN,NaN,2630 Westview Dr,NaN,Wyomissing,PA,US,196101130.0
2004,1457356073,DIRECT,Direct Messaging Address,mroy294769@direct.sw.org,N,NaN,NaN,DIRECT,Direct,NaN,NaN,NaN,NaN,10815 Ranch Road 2222 Bldg 3A,NaN,Austin,TX,US,787301159.0

In [15]:
next(end).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 3000 to 3999
Data columns (total 19 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NPI                              1000 non-null   int64
 1   Endpoint Type                    1000 non-null   object
 2   Endpoint Type Description        1000 non-null   object
 3   Endpoint                         999 non-null    object
 4   Affiliation                      1000 non-null   object
 5   Endpoint Description             265 non-null    object
 6   Affiliation Legal Business Name  124 non-null    object
 7   Use Code                         477 non-null    object
 8   Use Description                  477 non-null    object
 9   Other Use Description            33 non-null     object
 10  Content Type                     262 non-null    object
 11  Content Description              262 non-null    object
 12  Other Content Description        187 non-null    object
 13  Affiliation Address Line One     998 non-null    object
 14  Affiliation Address Line Two     224 non-null    object
 15  Affiliation Address City         998 non-null    object
 16  Affiliation Address State        998 non-null    object
 17  Affiliation Address Country      998 non-null    object
 18  Affiliation Address Postal Code  998 non-null    float64
dtypes: float64(1), int64(1), object(17)
memory usage: 148.6+ KB

## npi
    - 'NPI'
    - 'Entity Type Code'
    - 'Provider Organization Name (Legal Business Name)'
    - 'Provider Last Name (Legal Name)'
    - 'Provider First Name'
    - 'Provider Middle Name'
    - 'Provider Name Prefix Text'
    - 'Provider Name Suffix Text'
    - 'Provider Credential Text'
    - 'Provider First Line Business Practice Location Address'
    - 'Provider Second Line Business Practice Location Address'
    - 'Provider Business Practice Location Address City Name'
    - 'Provider Business Practice Location Address State Name'
    - 'Provider Business Practice Location Address Postal Code'

In [16]:
next(npi).head()

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
1000,1962405183,1.0,NaN,NaN,NaN,FOX,DANIEL,R,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/08/2020
1001,1871596098,1.0,NaN,NaN,NaN,DIAZ-LACAYO,MARVIN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,1780687905,1.0,NaN,NaN,NaN,KIRK,ROBERT,M,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,1598768715,1.0,NaN,NaN,NaN,MOSCA,PHILIP,NaN,DR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,1407859622,1.0,NaN,NaN,NaN,MARKWARDT,GEORGE,LEE,MR.,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
next(npi).columns
[col for col in next(npi).columns if 'NPI' in col or 'Taxonomy' in col]

['NPI',
 'Replacement NPI',
 'NPI Deactivation Reason Code',
 'NPI Deactivation Date',
 'NPI Reactivation Date',
 'Healthcare Provider Taxonomy Code_1',
 'Healthcare Provider Primary Taxonomy Switch_1',
 'Healthcare Provider Taxonomy Code_2',
 'Healthcare Provider Primary Taxonomy Switch_2',
 'Healthcare Provider Taxonomy Code_3',
 'Healthcare Provider Primary Taxonomy Switch_3',
 'Healthcare Provider Taxonomy Code_4',
 'Healthcare Provider Primary Taxonomy Switch_4',
 'Healthcare Provider Taxonomy Code_5',
 'Healthcare Provider Primary Taxonomy Switch_5',
 'Healthcare Provider Taxonomy Code_6',
 'Healthcare Provider Primary Taxonomy Switch_6',
 'Healthcare Provider Taxonomy Code_7',
 'Healthcare Provider Primary Taxonomy Switch_7',
 'Healthcare Provider Taxonomy Code_8',
 'Healthcare Provider Primary Taxonomy Switch_8',
 'Healthcare Provider Taxonomy Code_9',
 'Healthcare Provider Primary Taxonomy Switch_9',
 'Healthcare Provider Taxonomy Code_10',
 'Healthcare Provider Primary Taxonomy Switch_10',
 'Healthcare Provider Taxonomy Code_11',
 'Healthcare Provider Primary Taxonomy Switch_11',
 'Healthcare Provider Taxonomy Code_12',
 'Healthcare Provider Primary Taxonomy Switch_12',
 'Healthcare Provider Taxonomy Code_13',
 'Healthcare Provider Primary Taxonomy Switch_13',
 'Healthcare Provider Taxonomy Code_14',
 'Healthcare Provider Primary Taxonomy Switch_14',
 'Healthcare Provider Taxonomy Code_15',
 'Healthcare Provider Primary Taxonomy Switch_15',
 'Healthcare Provider Taxonomy Group_1',
 'Healthcare Provider Taxonomy Group_2',
 'Healthcare Provider Taxonomy Group_3',
 'Healthcare Provider Taxonomy Group_4',
 'Healthcare Provider Taxonomy Group_5',
 'Healthcare Provider Taxonomy Group_6',
 'Healthcare Provider Taxonomy Group_7',
 'Healthcare Provider Taxonomy Group_8',
 'Healthcare Provider Taxonomy Group_9',
 'Healthcare Provider Taxonomy Group_10',
 'Healthcare Provider Taxonomy Group_11',
 'Healthcare Provider Taxonomy Group_12',
 'Healthcare Provider Taxonomy Group_13',
 'Healthcare Provider Taxonomy Group_14',
 'Healthcare Provider Taxonomy Group_15']

In [25]:
taxes = next(npi).filter(regex = 'NPI|(Taxonomy (Code|Switch))')

In [26]:
taxes

,NPI,Replacement NPI,NPI Deactivation Reason Code,NPI Deactivation Date,NPI Reactivation Date,Healthcare Provider Taxonomy Code_1,Healthcare Provider Primary Taxonomy Switch_1,Healthcare Provider Taxonomy Code_2,Healthcare Provider Primary Taxonomy Switch_2,Healthcare Provider Taxonomy Code_3,...,Healthcare Provider Taxonomy Code_11,Healthcare Provider Primary Taxonomy Switch_11,Healthcare Provider Taxonomy Code_12,Healthcare Provider Primary Taxonomy Switch_12,Healthcare Provider Taxonomy Code_13,Healthcare Provider Primary Taxonomy Switch_13,Healthcare Provider Taxonomy Code_14,Healthcare Provider Primary Taxonomy Switch_14,Healthcare Provider Taxonomy Code_15,Healthcare Provider Primary Taxonomy Switch_15
14000,1154325199,NaN,NaN,NaN,NaN,333600000X,N,3336C0004X,N,3336C0003X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14001,1063416006,NaN,NaN,NaN,NaN,207N00000X,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14002,1972507911,NaN,NaN,NaN,NaN,207VG0400X,X,207VX0000X,X,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14003,1881698827,NaN,NaN,01/28/2022,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14004,1699779637,NaN,NaN,NaN,NaN,207RC0000X,N,207RI0011X,Y,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,1154325959,NaN,NaN,NaN,NaN,208VP0014X,N,208VP0014X,N,208VP0014X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14996,1063416865,NaN,NaN,NaN,NaN,163W00000X,N,363L00000X,N,363L00000X,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14997,1972507770,NaN,NaN,NaN,NaN,164X00000X,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14998,1881698686,NaN,NaN,NaN,NaN,207RP1001X,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14999,1699779496,NaN,NaN,NaN,NaN,367500000X,Y,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
taxes.columns

Index(['NPI', 'Replacement NPI', 'NPI Deactivation Reason Code',
       'NPI Deactivation Date', 'NPI Reactivation Date',
       'Healthcare Provider Taxonomy Code_1',
       'Healthcare Provider Primary Taxonomy Switch_1',
       'Healthcare Provider Taxonomy Code_2',
       'Healthcare Provider Primary Taxonomy Switch_2',
       'Healthcare Provider Taxonomy Code_3',
       'Healthcare Provider Primary Taxonomy Switch_3',
       'Healthcare Provider Taxonomy Code_4',
       'Healthcare Provider Primary Taxonomy Switch_4',
       'Healthcare Provider Taxonomy Code_5',
       'Healthcare Provider Primary Taxonomy Switch_5',
       'Healthcare Provider Taxonomy Code_6',
       'Healthcare Provider Primary Taxonomy Switch_6',
       'Healthcare Provider Taxonomy Code_7',
       'Healthcare Provider Primary Taxonomy Switch_7',
       'Healthcare Provider Taxonomy Code_8',
       'Healthcare Provider Primary Taxonomy Switch_8',
       'Healthcare Provider Taxonomy Code_9',
       'Healthcare Provider Primary Taxonomy Switch_9',
       'Healthcare Provider Taxonomy Code_10',
       'Healthcare Provider Primary Taxonomy Switch_10',
       'Healthcare Provider Taxonomy Code_11',
       'Healthcare Provider Primary Taxonomy Switch_11',
       'Healthcare Provider Taxonomy Code_12',
       'Healthcare Provider Primary Taxonomy Switch_12',
       'Healthcare Provider Taxonomy Code_13',
       'Healthcare Provider Primary Taxonomy Switch_13',
       'Healthcare Provider Taxonomy Code_14',
       'Healthcare Provider Primary Taxonomy Switch_14',
       'Healthcare Provider Taxonomy Code_15',
       'Healthcare Provider Primary Taxonomy Switch_15'],
      dtype='object')

In [44]:
taxes_code_long = taxes.melt(id_vars = [col for col in taxes.columns if 'NPI' in col or 'Taxonomy Switch' in col],
           var_name = 'Taxonomy Code Number',
           value_name = 'Taxonomy Code'
          )
taxes_long = taxes_code_long.melt(id_vars = [col for col in taxes_code_long.columns if 'NPI' in col or 'Taxonomy Code' in col],
                 var_name = 'Taxonomy Switch Number',
                 value_name = 'Taxonomy Switch')

In [47]:
primary_taxes = (taxes_long.loc[taxes_long['Taxonomy Switch'] == 'Y']
                           .drop(columns = ['Taxonomy Code Number','Taxonomy Switch Number'])
                )

In [48]:
primary_taxes

,NPI,Replacement NPI,NPI Deactivation Reason Code,NPI Deactivation Date,NPI Reactivation Date,Taxonomy Code,Taxonomy Switch
1,1063416006,NaN,NaN,NaN,NaN,207N00000X,Y
5,1508860545,NaN,NaN,NaN,NaN,2085R0001X,Y
6,1417951450,NaN,NaN,NaN,NaN,207N00000X,Y
7,1326042367,NaN,NaN,NaN,NaN,225100000X,Y
8,1235133273,NaN,NaN,NaN,NaN,225100000X,Y
...,...,...,...,...,...,...,...
220797,1346244100,NaN,NaN,NaN,NaN,208M00000X,Y
221797,1346244100,NaN,NaN,NaN,NaN,2084N0400X,Y
222797,1346244100,NaN,NaN,NaN,NaN,207RP1001X,Y
223797,1346244100,NaN,NaN,NaN,NaN,363A00000X,Y
224797,1346244100,NaN,NaN,NaN,NaN,207Q00000X,Y