# Import

In [2]:
import pandas as pd
import numpy as np
import sqlite3

# Connect to and Check the hopteam Database

In [3]:
db = sqlite3.connect('../data/hopteam.sqlite')

## change column names of taxonomy table

In [11]:
queries = ["""
        ALTER TABLE taxonomy
        RENAME COLUMN Code TO code;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Grouping TO grouping;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Classification TO classification;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Specialization TO specialization;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Definition TO definition;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Notes TO notes;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN "Display Name" TO display_name;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Section TO section;
        """
        ]
for query in queries:
    db.execute(query)

In [13]:
db.close()