# Import

In [1]:
import pandas as pd
import numpy as np
import sqlite3

# Connect to and Change the hopteam Database

In [3]:
db = sqlite3.connect('../data/hopteam.sqlite')

## change column names of taxonomy table

In [11]:
queries = ["""
        ALTER TABLE taxonomy
        RENAME COLUMN Code TO code;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Grouping TO grouping;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Classification TO classification;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Specialization TO specialization;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Definition TO definition;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Notes TO notes;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN "Display Name" TO display_name;
        """,
        """
        ALTER TABLE taxonomy
        RENAME COLUMN Section TO section;
        """
        ]
for query in queries:
    db.execute(query)

In [13]:
db.close()

## Set hopteam indices

In [ ]:
with sqlite3.connect('../data/hopteam.sqlite') as db: 
    db.execute('CREATE INDEX npi ON profile(npi)')
    db.execute('CREATE INDEX to_npi ON referral_to(to_npi)')
    db.execute('CREATE INDEX referral_id ON referrals(referral_id)')
    db.execute('CREATE INDEX from_npi ON referral_from(from_npi)')
    db.execute('CREATE INDEX code ON taxonomy(code)')
    db.execute('CREATE INDEX zip ON zip_cbsa(zip)')
    db.execute('CREATE INDEX provider_business_practice_location_address_postal_code ON profile(provider_business_practice_location_address_postal_code)')
    db.execute('CREATE INDEX taxonomy_code ON profile(taxonomy_code)')
    db.execute('CREATE INDEX from_referral_id ON referral_from(referral_id)')
    db.execute('CREATE INDEX to_referral_id ON referral_to(referral_id)')